@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('~sbuttons/dist/sbuttons.min.css');

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply transition-colors duration-100;
}

.dark {
  @apply bg-gray-800 text-white;
}

.underline-red {
  @apply underline;
  text-decoration-color: #E11D48;
}