@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('~sbuttons/dist/sbuttons.min.css');

html, body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply transition-colors duration-100 overflow-x-hidden;
}

.dark {
  @apply bg-gray-800 text-white;
}

.underline-red {
  @apply underline;
  text-decoration-color: #E11D48;
}

.content {
  min-height: 70vh;
}

.sidebar-item.active {
  @apply border-red-600 !important
}

.sidebar-item {
  width: fit-content;
  width: -moz-fit-content;
}

.stretched-link {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

/** Carbon ads **/

[id*=carbonads] {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

[id*=carbonads] {
  display: flex;
  position: fixed;
  bottom: 66px;
  right: 20px;
  max-width: 330px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, 0.1);
  z-index: 100;
}

[id*=carbonads] a {
  color: inherit;
  text-decoration: none;
}

[id*=carbonads] a:hover {
  color: inherit;
}

[id*=carbonads] span {
  position: relative;
  display: block;
  overflow: hidden;
}

[id*=carbonads] .carbon-wrap {
  display: flex;
}

.carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}

.carbon-img img {
  display: block;
}

.carbon-text {
  font-size: 13px;
  padding: 10px;
  line-height: 1.5;
  text-align: left;
}

.carbon-poweredby {
  display: block;
  padding: 8px 10px;
  background: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 5px,
      hsla(0, 0%, 0%, 0.025) 5px,
      hsla(0, 0%, 0%, 0.025) 10px
    )
    hsla(203, 11%, 95%, 0.4);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 9px;
  line-height: 1;
}

/** DARK THEME **/

.dark [id*=carbonads] {
  background-color: hsl(0, 0%, 10%);
  box-shadow: 0 0 1px hsla(0, 0%, 0%, 0.5);
}

.dark [id*=carbonads] a {
  color: #ddd;
  text-decoration: none;
}

.dark [id*=carbonads] a:hover {
  color: #ddd;
}

.dark .carbon-poweredby {
  background: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 5px,
      hsla(0, 0%, 0%, 0.025) 5px,
      hsla(0, 0%, 0%, 0.025) 10px
    )
    hsla(203, 11%, 15%, 0.4);
  color: #aaa !important;
}
