.bouncy-btn {
  animation: bouncy 1s infinite linear;
  position: relative;

  @keyframes bouncy {
    0% {
      top: 0em;
    }
    39% {
      top: 0em;
    }
    43% {
      top: -0.9em;
    }
    46% {
      top: 0em;
    }
    48% {
      top: -0.4em;
    }
    50% {
      top: 0em;
    }
    100% {
      top: 0em;
    }
  }
}
