@colors: @blue, @pink, @red, @green, @yellow, @orange, @purple, @black;
@colorbtns: blue-btn, pink-btn, red-btn, green-btn, yellow-btn, orange-btn,
  purple-btn, black-btn;

.colored-on-hover-colorspecific-mixin(@param) when (@param ="hover") {
  each(@colorbtns, {
      &.@{value} {
        @colortoget : @key;
        background-color: extract(@colors, @key);
        color:white;

      }
    }

  );
}

.colored-on-hover-colorspecific-mixin(@param) when (@param ="hoverless") {
  each(@colorbtns, {
      &.@{value} {
        border-color: extract(@colors, @key);
        color: extract(@colors, @key);
      }
    }

  );
}

.sbtn.colored-on-hover-btn {
  background-color: transparent;
  transition: all 0.25s;

  .colored-on-hover-colorspecific-mixin("hoverless");

  &:hover {
    .colored-on-hover-colorspecific-mixin("hover");

    &.white-btn {
      background-color: white;
    }
  }
}
