@keyframes fonnt {
	0% {
		color: black;
	}
	100% {
		color: cornsilk;
		text-shadow: 0px 0px 20px white;
		box-shadow: inset 0px 0px 5px cornsilk;
	}
}
@keyframes fonntrev {
	0% {
		color: black;
	}
	100% {
		color: black;
		box-shadow: inset 0px 0px 5px black;
	}
}
.sbtn.colored-on-hover-btn {
	position: relative;
	padding: 0px;
	color: black;
	height: 50px;
	width: 200px;
	background-color: transparent;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	&:hover {
		animation: fonnt 0.25s ease-in forwards;
	}
	.bluebtn{
		&:hover {
			animation: fonnt 0.25s ease-in forwards;
			background-color: blue;
		}
		border: 3px double blue;
		
	}
	.pink-btn{
		&:hover {
			animation: fonnt 0.25s ease-in forwards;
			background-color: pink;
		}
		border: 3px double pink;
		
	}
	.red-btn{
		&:hover {
			animation: fonnt 0.25s ease-in forwards;
			background-color: red;
		}
		border: 3px double red;
		
	}
	.green-btn{
		&:hover {
			animation: fonnt 0.25s ease-in forwards;
			background-color: green;
		}
		border: 3px double green;
		
	}
	.yellow-btn{
		&:hover {
			animation: fonnt 0.25s ease-in forwards;
			background-color: yellow;
		}
		border: 3px double yellow;
		
	}
	.orange-btn{
		&:hover {
			animation: fonnt 0.25s ease-in forwards;
			background-color: orange;
		}
		border: 3px double orange;
		
	}
	.purple-btn{
		&:hover {
			animation: fonnt 0.25s ease-in forwards;
			background-color: purple;
		}
		border: 3px double purple;
		
	}
	.black-btn{
		&:hover {
			animation: fonnt 0.25s ease-in forwards;
			background-color: black;
		}
		border: 3px double black;
		
	}
	.white-btn{
		&:hover {
			animation: fonntrev 0.25s ease-in forwards;
			background-color: white;
		}
		color: black;
		border: 3px double #9c9a9a;
		
	}
}
