.key-btn.pink-btn {
  border-top: 2px solid @pink;
  background-color: @pink;
  box-shadow: inset 0px -12px @keyBoxPink;
  &.active,
  &:active {
    background-color: @keyHoverPink;
    box-shadow: inset 0px -8px 0px @keyBoxPink;
  }
}
.key-btn.blue-btn {
  border-top: 2px solid @blue;
  background-color: @blue;
  box-shadow: inset 0px -12px @keyBoxBlue;
  &.active,
  &:active {
    background-color: @keyHoverBlue;
    box-shadow: inset 0px -8px 0px @keyBoxBlue;
  }
}
.key-btn.red-btn {
  border-top: 2px solid @red;
  background-color: @red;
  box-shadow: inset 0px -12px @keyBoxRed;
  &.active,
  &:active {
    background-color: @keyHoverRed;
    box-shadow: inset 0px -8px 0px @keyBoxRed;
  }
}
.key-btn.green-btn {
  border-top: 2px solid @green;
  background-color: @green;
  box-shadow: inset 0px -12px @keyBoxGreen;
  &.active,
  &:active {
    background-color: @keyHoverGreen;
    box-shadow: inset 0px -8px 0px @keyBoxGreen;
  }
}
.key-btn.yellow-btn {
  background-color: @yellow;
  box-shadow: inset 0px -12px @keyBoxYellow;
  border-top: 2px solid @yellow;
  &.active,
  &:active {
    background-color: @keyHoverYellow;
    box-shadow: inset 0px -8px 0px @keyBoxYellow;
  }
}
.key-btn.orange-btn {
  border-top: 2px solid @orange;
  background-color: @orange;
  box-shadow: inset 0px -12px @keyBoxOrange;
  &.active,
  &:active {
    background-color: @keyHoverOrange;
    box-shadow: inset 0px -8px 0px @keyBoxOrange;
  }
}
.key-btn.purple-btn {
  border-top: 2px solid @purple;
  background-color: @purple;
  box-shadow: inset 0px -12px @keyBoxPurple;
  &.active,
  &:active {
    background-color: @keyHoverPurple;
    box-shadow: inset 0px -8px 0px @keyBoxPurple;
  }
}
.key-btn.black-btn {
  border-top: 2px solid @diffblack;
  background-color: @diffblack;
  box-shadow: inset 0px -12px @keyBoxBlack;
  &.active,
  &:active {
    background-color: @keyHoverBlack;
    box-shadow: inset 0px -8px 0px @keyBoxBlack;
  }
}
.key-btn.white-btn {
  border-top: 2px solid @diffwhite;
  background-color: @diffwhite;
  box-shadow: inset 0px -12px @keyBoxWhite;
  &.active,
  &:active {
    background-color: @keyHoverWhite;
    box-shadow: inset 0px -8px 0px @keyBoxWhite;
  }
}
.key-btn.rounded-btn {
  border-radius: 30px;
}
.key-btn {
  border: none;
  outline: none;
  display: inline-block;
  background-color: transparent;
  font-size: 1.5rem;
  color: white;
  font-weight: bolder;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 4px;
  position: relative;
  border-bottom: 6px solid #2b1800;
  border-left: 2px solid #2b1800;
  border-right: 2px solid #2b1800;
  &.active,
  &:active {
    outline: none;
    top: 2px;
    border-top: 2px solid #2b1800;
  }
}
