.sbtn.spotlight-btn{
    /* @mrsidsat */
    position: relative;
    padding:0px;
    color:black;
    border:3px solid #0cbfcf ;
    height:50px;
    width:200px;
    background-color: transparent;
    overflow:visible !important;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 0px 10px  #0fe0f5;  
	.blue-btn{
		border:3px solid blue;
		box-shadow: inset 0px 0px 10px blue; 
    }
	.pink-btn{
		border:3px solid pink;
    	box-shadow: inset 0px 0px 10px pink;
	}
	.red-btn{
		border:3px solid red;
    	box-shadow: inset 0px 0px 10px red;  
	}
	.green-btn{
		border:3px solid green;
    	box-shadow: inset 0px 0px 10px green;
	}
	.yellow-btn{
		border:3px solid yellow;
    	box-shadow: inset 0px 0px 10px yellow;
	}
	.orange-btn{
		border:3px solid orange;
    	box-shadow: inset 0px 0px 10px orange;
	}
	.purple-btn{
		border:3px solid purple;
		box-shadow: inset 0px 0px 10px purple;
	}
	.black-btn{
		border:3px solid black;
		box-shadow: inset 0px 0px 10px black;
	}
	.white-btn{
		border:3px solid  #0cbfcf;
		box-shadow: inset 0px 0px 10px  #0cbfcf;  
	  } 
&:after{             
    content:"";
    border:3px solid #07dae9;
    box-shadow: inset 0px 0px 10px #0fe0f5;
    height:50px;
    width:200px;
    top:3px;
    left:3px;
    opacity: 1;
    position: absolute;
    z-index: -10;
    background-color: transparent;
	overflow:visible;
	.blue-btn{
		border:3px solid blue;
      	box-shadow: inset 0px 0px 10px blue;
	}
	.pink-btn{
		border:3px solid pink;
      	box-shadow: inset 0px 0px 10px pink;
	}
	.red-btn{
		border:3px solid red;
      	box-shadow: inset 0px 0px 10px red;
	}
	.green-btn{
		border:3px solid green;
      	box-shadow: inset 0px 0px 10px green;
	}
	.yellow-btn{
		border:3px solid yellow;
        box-shadow: inset 0px 0px 10px yellow;
	}
	.orange-btn{
		border:3px solid orange;
        box-shadow: inset 0px 0px 10px orange;
	}
	.purple-btn{
		border:3px solid purple;
      	box-shadow: inset 0px 0px 10px purple;
	}
	.black-btn{
		border:3px solid black;
      	box-shadow: inset 0px 0px 10px black;
	}
	.white-btn{
		border:3px solid  #0cbfcf;
		  box-shadow: inset 0px 0px 10px  #0cbfcf;
	  }
	
}
&:hover{
		animation: fonnt 0.5s ease-in 0.25s forwards !important;
		&:before{
			animation: pop 0.5s ease-in forwards, mrsidsat 0.25s ease-in 0.5s forwards;
		}
		&:after{
			animation: bor 0.5s ease-in forwards;
		}
}
&:before{
	content: "";
    padding:20px;
    position: absolute;
    height:50px;
    width:50px;
    background-color: #0cbfcf;
    top:100px;
    opacity:0;
    z-index: -1;
    left:100px;
    transform: translateX(-50%) translateX(-5px);
	border-radius: 50%;
	.blue-btn{
		background-color: blue;
	}
	.pink-btn{
		background-color: pink;
	}
	.red-btn{
		background-color: red;
	}
	.green-btn{
		background-color: green;
	}
	.yellow-btn{
		background-color: yellow;
	}
	.orange-btn{
		background-color: orange;
	}
	.purple-btn{
		background-color: purple;
	}
	.black-btn{
		background-color: black;
	}
	.white-btn{
		background-color:  #0cbfcf;
	  }
}
}
@keyframes pop {
    0%{
        top:100px;
        opacity:0;
        border-radius: 50%;
    } 
    100%{
        top:-5px;
        opacity:1;
        border-radius: 50%;
    } 
}
@keyframes mrsidsat {
    0%{
        border-radius: 50%;
        /* top:0.5px; */
        width:50px;
    } 
    100%{
        border-radius: 0%;
        /* top:0.5px; */
        width:200px;   
    }  
}
@keyframes bor {
    0%{
        transform: translate(0px,0px);
        opacity: 1;
    }
    100%{
        transform: translate(-10px,-10px);
        opacity: 0;
    }
    
}
@keyframes fonnt {
    0%{
        color: black;
        
    }
    100%{
        color: cornsilk;
        text-shadow: 0px 0px 20px white;
        box-shadow: inset 0px 0px 5px cornsilk;
        
    }
}

