@keyframes pop {
	0% {
		top: 100px;
		opacity: 0;
		border-radius: 50%;
	}
	100% {
		top: -5px;
		opacity: 1;
		border-radius: 50%;
	}
}
@keyframes mrsidsat {
	0% {
		border-radius: 50%;
/* top:0.5px; */
		width: 50px;
	}
	100% {
		border-radius: 0%;
/* top:0.5px; */
		width: 200px;
	}
}
@keyframes bor {
	0% {
		transform: translate(0px,0px);
		opacity: 1;
	}
	100% {
		transform: translate(-10px,-10px);
		opacity: 0;
	}
}
@keyframes fonnt {
	0% {
		color: black;
	}
	100% {
		color: cornsilk;
		text-shadow: 0px 0px 20px white;
		box-shadow: inset 0px 0px 5px cornsilk;
	}
}
.sbtn.spotlight {
	position: relative;
	padding: 0px;
	color: black;
	border: 5px solid #0cbfcf;
	height: 50px;
	width: 200px;
	background-color: transparent;
	overflow: visible !important;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: inset 0px 0px 10px #0fe0f5;
}
.spotlight {
	&:after {
		content: "";
		border: 5px solid #07dae9;
		box-shadow: inset 0px 0px 10px #0fe0f5;
		height: 50px;
		width: 200px;
		top: 3px;
		left: 3px;
		opacity: 1;
		position: absolute;
		z-index: -10;
		background-color: transparent;
		overflow: visible;
	}
	&:hover {
		animation: fonnt 0.5s ease-in 0.25s forwards !important;
		&:before {
			animation: pop 0.5s ease-in forwards, mrsidsat 0.25s ease-in 0.5s forwards;
		}
		&:after {
			animation: bor 0.5s ease-in forwards;
		}
	}
	&:before {
		content: "";
		padding: 20px;
		position: absolute;
		height: 50px;
		width: 50px;
		background-color: #0cbfcf;
		top: 100px;
		opacity: 0;
		z-index: -1;
		left: 100px;
		transform: translateX(-50%) translateX(-5px);
		border-radius: 50%;
	}
}
.spotlight.blue-btn {
	border: 5px solid blue;
	box-shadow: inset 0px 0px 10px blue;
}
.blue-btn.spotlight {
	&:before {
		background-color: blue;
	}
	&:after {
		border: 5px solid blue;
		box-shadow: inset 0px 0px 10px blue;
	}
}
.spotlight.pink-btn {
	border: 5px solid pink;
	box-shadow: inset 0px 0px 10px pink;
}
.pink-btn.spotlight {
	&:before {
		background-color: pink;
	}
	&:after {
		border: 5px solid pink;
		box-shadow: inset 0px 0px 10px pink;
	}
}
.spotlight.red-btn {
	border: 5px solid red;
	box-shadow: inset 0px 0px 10px red;
}
.red-btn.spotlight {
	&:before {
		background-color: red;
	}
	&:after {
		border: 5px solid red;
		box-shadow: inset 0px 0px 10px red;
	}
}
.spotlight.green-btn {
	border: 5px solid green;
	box-shadow: inset 0px 0px 10px green;
}
.green-btn.spotlight {
	&:before {
		background-color: green;
	}
	&:after {
		border: 5px solid green;
		box-shadow: inset 0px 0px 10px green;
	}
}
.spotlight.yellow-btn {
	border: 5px solid yellow;
	box-shadow: inset 0px 0px 10px yellow;
}
.yellow-btn.spotlight {
	&:before {
		background-color: yellow;
	}
	&:after {
		border: 5px solid yellow;
		box-shadow: inset 0px 0px 10px yellow;
	}
}
.spotlight.orange-btn {
	border: 5px solid orange;
	box-shadow: inset 0px 0px 10px orange;
}
.orange-btn.spotlight {
	&:before {
		background-color: orange;
	}
	&:after {
		border: 5px solid orange;
		box-shadow: inset 0px 0px 10px orange;
	}
}
.spotlight.purple-btn {
	border: 5px solid purple;
	box-shadow: inset 0px 0px 10px purple;
}
.purple-btn.spotlight {
	&:before {
		background-color: purple;
	}
	&:after {
		border: 5px solid purple;
		box-shadow: inset 0px 0px 10px purple;
	}
}
.spotlight.black-btn {
	border: 5px solid black;
	box-shadow: inset 0px 0px 10px black;
}
.black-btn.spotlight {
	&:before {
		background-color: black;
	}
	&:after {
		border: 5px solid black;
		box-shadow: inset 0px 0px 10px black;
	}
}
.spotlight.white-btn {
	border: 5px solid #0cbfcf;
	box-shadow: inset 0px 0px 10px #0cbfcf;
}
.white-btn.spotlight {
	&:before {
		background-color: #0cbfcf;
	}
	&:after {
		border: 5px solid #0cbfcf;
		box-shadow: inset 0px 0px 10px #0cbfcf;
	}
}
