.trace-btn {
	width: 25%;
	margin: 2rem auto;
	padding: 2em;
	background-repeat: no-repeat;
	background-image: linear-gradient(to right, #C9C9C9 100%, #C9C9C9 100%), linear-gradient(to bottom, #C9C9C9 100%, #C9C9C9 100%), linear-gradient(to right, #C9C9C9 100%, #C9C9C9 100%), linear-gradient(to bottom, #C9C9C9 100%, #C9C9C9 100%);
	background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
	background-position: 0 0, 100% 0, 100% 100%, 0 100%;
	animation: bg 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
	animation-play-state: running;
}
