<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.scss">
    <title>American Express Payment Button</title>
</head>
<body>
    <h1>American Express Payment Method</h1>

    <ul class="paymentButtons">
        <li><span class="paymentButton tiny">American Express</span></li>
        <li><span class="paymentButton middle">American Express</span></li>
        <li><span class="paymentButton huge">American Express</span></li>
    </ul>
</body>
</html>