.social-btn {
  &.whatsapp {
    background-color: #25d366;
    color: #fff;
    margin-left: 200px;

    &:after {
      color: white;
      content: "\f232";
      margin-left: 200px;
      margin-right: 0px;
    }
  }
}
