.base-icon-btn {
  background: darkblue;
  position: relative;

  &:not(.rounded-btn) {
    border-radius: 8px;
  }

  &:hover {
    transition: all 0.3s ease-in;
    transform: translateY(5px);
  }
}

&.icon-left {
  color: #fff;

  & i {
    transform: translateX(-30%);
  }

  &:not(.rounded-btn) {
    i {
      transform: translateX(-26%);
    }
  }
}

&.icon-right {
  color: #fff;

  i {
    transform: translateX(45%);
  }

  &:not(.rounded-btn) {
    i {
      transform: translateX(20%);
    }
  }
}
