@play-grey: #3d3d3d;
@play-mid-grey: #6e6e6e;
@play-light-grey: #a6a6a6;
@play-green: #00ff00;
@play-yellow: #ffff00;
@play-purple: #9ea1ff;
@play-red: #ff0000;
@play-white: #ffffff;

.play-game-btn {
  width: 260px;
  height: 200px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    box-shadow: 100px 0px #3d3d3d, 100px 20px #3d3d3d, 120px 40px #3d3d3d, 140px 40px #3d3d3d,
      60px 60px #3d3d3d, 80px 60px #3d3d3d, 100px 60px #3d3d3d, 120px 60px #3d3d3d, 140px 60px #3d3d3d, 160px 60px #3d3d3d, 180px 60px #3d3d3d,
      40px 80px #3d3d3d, 60px 80px #6e6e6e, 80px 80px #a6a6a6, 100px 80px #a6a6a6, 120px 80px #a6a6a6, 120px 80px #a6a6a6, 140px 80px #a6a6a6,
      160px 80px #a6a6a6, 180px 80px #6e6e6e, 200px 80px #3d3d3d,
      20px 100px #3d3d3d, 40px 100px #6e6e6e, 60px 100px #3d3d3d, 80px 100px #6e6e6e, 100px 100px #a6a6a6, 120px 100px #a6a6a6, 140px 100px #a6a6a6,
      160px 100px #6e6e6e, 180px 100px #9ea1ff, 200px 100px #6e6e6e, 220px 100px #3d3d3d,
      20px 120px #3d3d3d, 40px 120px #3d3d3d, 60px 120px #3d3d3d, 80px 120px #3d3d3d, 100px 120px #a6a6a6, 120px 120px #a6a6a6, 140px 120px #a6a6a6,
      160px 120px #00ff00, 180px 120px #ffffff, 200px 120px #ff0000, 220px 120px #3d3d3d,
      20px 140px #3d3d3d, 40px 140px #6e6e6e, 60px 140px #3d3d3d, 80px 140px #6e6e6e;
  }
}