section {
  padding-top: 80px;
  margin-top: -80px;
}

.text {
  font-size: 1rem;
  color: black;
  word-wrap: break-word;
  font-family: "Syne", sans-serif;
}

.code-text {
  font-family: monospace;
}

.code-block-container {
  position: relative;
  max-width: 700px;
}

.instruction-block {
  margin-bottom: 2em;
  padding-bottom: 1em;
}

.div-copy {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  width: 3em;
  background-color: #f5f2f0;
}

.language-markup {
  padding-right: 2em;
}

.script-copy {
  cursor: pointer;
  position: relative;
}

.instructions hr {
  margin: 0;
}

.instructions > h2 {
  margin-bottom: 1em;
}

.display-inlineBlock {
  display: inline-block;
}

.margin-left--half {
  margin-left: 0.5rem;
}

.sbtn {
  font-size: 1rem;
}
