footer {
  font-family: Syne, sans-serif;
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e6e6e6;
}
.footer {
  color: floralwhite;
  position: relative;
  z-index: 12;
  min-height: 150px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.footer a {
  color: floralwhite;
  text-decoration: underline;
}

.footer a:hover {
  opacity: 0.6;
  color: floralwhite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
