footer {
  font-family: "Montserrat", sans-serif;
  padding: 1rem 1rem;
  background-color: #e6e6e6;
}

.footer {
  color: floralwhite;
  background-color: var(--footer-color);
  position: relative;
  z-index: 12;
  min-height: 20vh;
}

.footer-container > div {
  margin: 0 auto;
}

.footer .row {
  width: 100%;
}

.footer-desc,
.footer-logo,
.footer-links {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo,
.footer-links {
  flex-direction: column;
}

.footer-logo img {
  width: 50%;
}

.footer a {
  color: floralwhite;
  margin-bottom: 7px;
  text-decoration: underline;
}

.footer-links a {
  font-size: 18px;
  text-decoration: none;
}

.footer a:hover {
  opacity: 0.6;
  color: floralwhite;
}

.footer-desc-sm {
  padding-top: 1rem;
  padding-left: 6rem;
  padding-right: 5rem;
}

@media screen and (min-width: 576px) {
  .footer-logo img {
    width: 40%;
  }
}

@media screen and (min-width: 768px) {
  .credit {
    font-size: 14px;
  }
  .footer-logo img {
    width: 70%;
  }
  .footer-desc > p {
    font-size: 16px;
  }
  .footer-links {
    align-items: unset;
  }

  .footer-links a {
    font-size: 15px;
  }
}

@media screen and (min-width: 992px) {
  .footer-logo img {
    width: 60%;
  }
  .footer-links a {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-logo img {
    width: 50%;
  }
  .footer-desc > p {
    font-size: 13px;
  }
}
