*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:hover, a:active {
    color: black;
    text-decoration: none;
}

.navbar {
    background-color: var(--main-color);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    width: 100%;
    margin: 0;
    position: fixed;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    height: 100%;
}

.buttons a {
    color:  rgba(235, 235, 235, 0.815);
    margin: 0 0.5rem
}

.buttons a:hover {
    color: white;
}

.shades {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: -2;
    height: 100vh;
    background-image: linear-gradient(158deg, var(--main-color) 50%, transparent calc(50% + 2px));
}

.links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}

.link {
    font-size: 1.2rem;
    color:rgba(235, 235, 235, 0.815);
    padding: 0.5rem;
}

.link:hover {
    color: white;
}

.active {
    color: white;
}

.content {
    margin: 16vh 5% 0 5%;
    height: 70vh;
}

.banner-head {
    color: white;
    opacity: 0;
    animation: jump-up 1s 0.5s forwards;
}

.banner-head h1 {
    font-size: 3.6rem;
    font-weight: 700;
}

@keyframes jump-up {
    from {
        transform: translateY(30%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.subtitle {
    font-size: 1.5rem !important;
}

.logo {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
    animation: slide-in-right 1s 0.5s forwards;
}

@keyframes slide-in-right {
    from {
        transform: translateX(20%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    from {
        transform: translateX(-20%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.banner-link {
  padding: 15px;
  font-size: 1rem;
  border-radius: 10px;
  margin-right: 1em;
  margin-top: 1em;
  color: white;
  font-family: Syne, sans-serif;
  display: inline-block;
}

.installation, .cdn {
    padding: 0 5%;
    width: 100%;
    margin-bottom: 20vh;
}

.installation, .cdn  .head {
    color: #413f3f;
    font-weight: 700;
}

.installation .head {
    color: violet;
}

.cdn .head {
    color: tomato;
}
.desc {
    font-size: 20px;
    font-weight: 200;
    opacity: 0;
    animation: slide-in-left 1s forwards;
}

.desc a {
    border-color: tomato;
    color: tomato;
}

.desc a:hover {
    background-color: tomato;
    color: white;
}

.code {
    font-size: 18px;
    opacity: 0;
    animation: slide-in-right 1s forwards;
}

.button-grid.active {
    display: flex;
}