/* variables.css link included in index.html */
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: "Oleo Script Swash Caps", cursive !important;
  color: #333;
}

body,
.navbar,
.sidebar,
footer {
  transition: background-color 0.2s;
}

body > .container {
  min-height: 36vh;
}

[data-theme="dark"] {
  background-color: var(--dark-color);
  color: #ffffff;
}

[data-theme="dark"] footer {
  background-color: #434343;
}

[data-theme="dark"] .navbar.scrolling {
  background-color: #434343;
  box-shadow: 0 2px 3px #1e1e1e;
}

[data-theme="dark"] .sidebar a,
[data-theme="dark"] .text {
  color: #ffffff !important;
}

header {
  background-color: var(--main-color);
  color: #fff;
  padding-top: 3em;
}

.navbar {
  display: flex;
  height: 0;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 100%;
  transition: all 0.5s;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar .logo {
  height: 60px;
}
.logo img {
  height: 100%;
}
.navbar .logo a {
  text-decoration: none;
}

.navbar:not(.scrolling) .logo {
  display: none;
}

.navbar:not(.scrolling) {
  justify-content: flex-end;
}

.navbar.scrolling {
  background-color: #fff;
  box-shadow: 0 2px 3px #e9e9e9;
  height: 3em;
}

.logo {
  font-size: 2rem;
  color: var(--main-color);
  cursor: default;
}

/* The value of 'none' is useful for static text labels in a user interface which are not meant to be selected. */
.logo h1.noselect {
  -webkit-user-select: none; /* Webkit Chrome / Edge / Safari / Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Microsoft / IE 10+ */
  user-select: none; /* Standard syntax. */
}

header .logo {
  height: 110px;
}

header .content {
  text-align: center;
  padding-bottom: 30px;
}

header .content .logo h1 {
  color: #fff !important;
  font-size: 4rem;
}

header .content .subtitle {
  font-size: 1.5rem;
  font-family: Syne, sans-serif;
  margin-bottom: 2em; /* Adding this for spacing for buttons below */
}

/* This is overriding the download and documentation button colors for now since we don't have a white class - more than happy to create one! */
header .content .sbtn:nth-of-type(2) {
  background-color: #fff;
  color: #000;
}

header .content .sbtn {
  font-size: 1.3rem;
  font-family: Syne, sans-serif !important;
}

header .content .sbtn:first-of-type {
  margin-right: 0.5em;
}

section {
  padding-top: 80px;
  margin-top: -80px;
}

.button-grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.button-container {
  text-align: center;
  padding: 1em;
}

.button-container .sbtn {
  margin-bottom: 1em;
}

#hinge .button-container .block-btn {
  margin-bottom: 2.5em;
}

[data-theme="dark"] .button-caption-sub {
  color: #afafaf;
}

.button-caption-sub {
  color: #656564;
  font-family: monospace;
  cursor: pointer;
}

.button-caption-sub:after {
  content: "\f328";
  font-family: "Font Awesome 5 Free", serif;
  font-size: 15px;
  vertical-align: bottom;
  margin-left: 5px;
}

hr {
  width: 30%;
  border-color: rgba(27, 114, 145, 0.48);
}

.navbar .buttons {
  vertical-align: sub;
}

.navbar .download-link,
.navbar .icon-link,
.navbar .sidebar-toggler,
.navbar .toggle-theme {
  opacity: 0.5;
  transition: all 0.2s;
}

.navbar .download-link:hover,
.navbar .icon-link:hover,
.navbar .sidebar-toggler:hover,
.navbar .toggle-theme:hover {
  opacity: 1;
}

.download-link,
.download-link:hover,
.download-link:visited,
.download-link:active {
  text-decoration: underline;
}

.navbar.scrolling a,
.navbar.scrolling a:hover,
.navbar.scrolling a:visited,
.navbar.scrolling a:active {
  color: #81b4ea;
}

.navbar:not(.scrolling) a,
.navbar:not(.scrolling) a:hover,
.navbar:not(.scrolling) a:visited,
.navbar:not(.scrolling) a:active {
  color: #fff;
}

.navbar {
  font-size: 1.5rem;
}

.navbar .download-link {
  margin-right: 1em;
  text-decoration: none;
}

.navbar .toggle-theme {
  margin-right: 1em;
  text-decoration: none;
}
.section-header {
  text-align: center;
}

.section-sub-header {
  color: #9c9696;
  text-align: center;
  font-size: 1.1rem;
}

.section-sub-header .download-link {
  color: #81b4ea;
}

.secondary-hr {
  width: 10%;
  border-color: rgba(27, 114, 145, 0.3);
}

@media (max-width: 767px) {
  .navbar .download-link,
  .navbar .toggle-theme {
    font-size: 1.15rem;
  }

  .navbar:not(.scrolling) {
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .navbar .download-link {
    font-size: 1.5rem;
  }
}

@media (max-width: 410px) {
  .logo img {
    height: 60%;
  }
}
@media (max-width: 311px) {
  .navbar #downloadGithubRawHeader {
    display: none;
  }
}
@media (max-width: 265px) {
  .navbar .toggle-theme,
  .icon-link,
  .sidebar-toggler {
    font-size: 1rem;
  }
  .navbar.scrolling {
    height: 3em;
  }
}
@media (max-width: 225px) {
  .navbar .buttons {
    display: none;
  }
}

.social-btn {
  font-family: "Syne", sans-serif !important;
}

.scroll-top {
  position: fixed;
  bottom: 25px;
  right: 20px;
  display: block;
  font-size: 40px;
  background: none;
  margin-left: 90%;
  cursor: pointer;
}
.scroll-top i {
  font-size: 35px;
  display: block;
  color: var(--main-color);
  background: none;
}
@media only screen and (max-width: 600px) {
  .scroll-top {
    margin-left: 75%;
  }
}
footer {
  font-family: Syne, sans-serif;
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e6e6e6;
  z-index: 2;
  position: relative;
}

.tagline {
  font-size: 1.3rem;
}

.tagline-heart {
  color: #f74545;
}

button.clipboard {
  color: var(--main-color);
  border-radius: 4px;
  border: transparent;
  margin: 5px;
  justify-items: right;
  background-color: transparent;
  cursor: pointer;
}
button.clipboard:hover {
  color: white;
  background-color: var(--main-color);
}
button.clipboard:after {
  content: "\f328";
  font-size: 15px;
  vertical-align: bottom;
  font-family: "Font Awesome 5 Free", serif;
}
button.clipboard:focus {
  outline: 0;
}

.navbar:not(.scrolling) .download-link {
  display: none;
}

.navbar.scrolling .download-link {
  display: inline-block;
}
.banner-link:hover,
.banner-link:active {
  color: white;
  text-decoration: none;
  background-color: white;
  color: #333;
  transition: all 0.3s;
}

.banner-link {
  border: 1px solid white;
  padding: 15px;
  font-size: 1.3rem;
  margin-right: 20px;
  color: white;
  font-family: Syne, sans-serif;
  display: inline-block;
  margin-top: 40px;
  margin-left: 10px;
}

.content .sbtn.transparent-btn {
  display: inline;
  padding: 18px;
}

.down-link {
  background-color: white;
  color: #333;
}

.down-link:hover,
.down-link:active {
  background-color: transparent;
  color: white;
}

.footer {
  color: floralwhite;
  min-height: 150px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.footer a {
  color: floralwhite;
  text-decoration: underline;
}

.footer a:hover {
  opacity: 0.6;
  color: floralwhite;
}
.appstore-btn {
  font-family: "Syne" !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#stack .button-grid:last-child .button-container:last-child,
#stack .button-grid:last-child .button-container:nth-last-child(2) {
  padding-bottom: 4rem;
  margin-bottom: 4rem;
}

.key-btn {
  font-family: "Syne", sans-serif !important;
}
