html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: 'Oleo Script Swash Caps', cursive !important;
  color: #333;
}

header {
  background-color: #3a91ff;
  color: #fff;
  height: 60vh;
  display: flex !important;
  flex-direction: column;
}

.navbar {
  display: flex;
  height: 3em;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 100%;
  margin-bottom: 2em;
}

.navbar .logo h1 {
  margin-bottom: 0;
}

.navbar:not(.scrolling) .logo {
  display: none;
}

.navbar:not(.scrolling) {
  justify-content: flex-end;
}

.navbar.scrolling {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0px 2px 3px #e9e9e9;
}

.logo {
  font-size: 2rem;
  color: #3A91FF;
  cursor: default;
}

header .content {
  text-align: center;
  flex: 1;
}

header .content .logo h1 {
  color: #fff !important;
  font-size: 4rem;
}

header .content .subtitle {
  font-size: 1.5rem;
  font-family: Syne, sans-serif;
}

.links {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.links li {
  display: inline;
  border-radius: 25px;
}

.navbar-button {
  -webkit-appearance: none;
  background-color: #FFF;
  border: 1px solid transparent;
  padding: .5em;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-radius: 25px;
  cursor: pointer;
}

.links li.active .navbar-button, .links li:hover .navbar-button {
  background-color: #1B7291;
  color: #FFF;
}

section {
  padding-top: 80px;
  margin-top: -80px;
}

.section-header {
  text-align: center;
}

.button-grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.button-container {
  text-align: center;
  padding: 1em;
}

.button-container .sbtn {
  margin-bottom: 1em;
  font-size: 1.5rem;
}

.button-caption {
  color: #333;
}

.button-caption-sub {
  color: #656564;
  font-family: monospace;
}

hr {
  width: 30%;
  border-color: rgba(27, 114, 145, 0.48);
}

.secondary-hr {
  width: 10%;
  border-color: rgba(27, 114, 145, 0.3);
}

.navbar .buttons {
  vertical-align: sub;
}

.icon-link {
  opacity: .5;
  transition: all .2s;
}

.icon-link img {
  max-width: 100%;
  height: auto;
}

.icon-link:hover {
  opacity: 1;
  text-decoration: none;
}

.navbar .download-link {
  opacity: .5;
  font-family: Syne, sans-serif;
  transition: all .2s;
}

.navbar .download-link:hover {
  opacity: 1;
}

.download-link, .download-link:hover,
.download-link:visited, .download-link:active {
  text-decoration: underline;
}

.navbar.scrolling .download-link, .navbar.scrolling .download-link:hover,
.navbar.scrolling .download-link:visited, .navbar.scrolling .download-link:active {
  color: #81b4ea;
}

.navbar:not(.scrolling) .download-link, .navbar:not(.scrolling) .download-link:hover,
.navbar:not(.scrolling) .download-link:visited, .navbar:not(.scrolling) .download-link:active {
  color: #fff;
}

.navbar {
  font-size: 1.5rem;
}

.navbar .download-link {
  margin-right: 1em;
}

.section-sub-header {
  color: #9c9696;
  text-align: center;
  font-size: 1.1rem;
}

.section-sub-header .download-link {
  color: #81b4ea;
}

.standout-text{
  color:#3aa655;
  text-align:center;
  font-size: 1.3rem;
  word-wrap: break-word;
  font-family: 'Syne', sans-serif;
}

.text{
  font-size: 1.3rem;
  color:black;
  text-align: center;
  word-wrap: break-word;
  font-family: 'Syne', sans-serif;
} 
@media (max-width: 767px) {
  .navbar .download-link {
    font-size: 1.15rem;
  }
  .scroll_to_top_btn{
    font-size: 35px;
  }
  
}

@media (min-width: 768px) {
  .navbar .download-link {
    font-size: 1.5rem;
  }
  
}

.social-btn {
  font-family: Syne, sans-serif;
}

.scroll-top {
  position: fixed;
  bottom: 25px;
  left: 20px;
  display: none;
  font-size: 40px;
  background: none;
  margin-left: 90vw;
  cursor: pointer;
}
.scroll-top i {
  font-size: 45px;
  display: block;
  color: #3A91FF;
  background: none;
}
footer {
  font-family: Syne, sans-serif;
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e6e6e6;
}

.tagline {
  font-size: 1.3rem;
}

.tagline-heart {
  color: #f74545;
}