.sidebar {
  display: flex;
  flex-direction: column;
}
.sidebar.scrolling {
  position: fixed;
  top: 90px;
}
.sidebar a {
  position: relative;
  text-decoration: none;
  width: fit-content;
}
.sidebar a:before {
  position: absolute;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #364C63;
  transition: all 0.2s;
  content: ' ';
  bottom: 0;
}
.sidebar a:hover,
.sidebar a.active {
  color: #333;
  text-decoration: none;
}
.sidebar a:hover:before,
.sidebar a.active:before {
  width: 100%;
}
.sidebar .submenu-links {
  margin-left: 10px;
}
.sidebar .submenu-links:not(.show) {
  display: none;
}
.sidebar a:not(.submenu-link) {
  color: #333;
}
.sidebar .submenu-link {
  color: #636363;
  display: block;
}