.sidebar {
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 10;

}
.sidebar.scrolling {
  scrollbar-color: red green;
  position: fixed;
  top: 90px;
}
.sidebar a {
  position: relative;
  text-decoration: none;
  width: fit-content;
}
.sidebar a:before {
  position: absolute;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #364C63;
  transition: all 0.2s;
  content: ' ';
  bottom: 0;
}
.sidebar a:hover,
.sidebar a.active {
  color: #333;
  text-decoration: none;
}
.sidebar a:hover:before,
.sidebar a.active:before {
  width: 100%;
}
.sidebar .submenu-links {
  margin-left: 10px;
}
.sidebar .submenu-links:not(.show) {
  display: none;
}
.sidebar a:not(.submenu-link) {
  color: #333;
}
.sidebar .submenu-link {
  color: #636363;
  display: block;
}


@media (max-width: 767px) {
  .row .hide-sidebar {
    display: none;
  }


#left-sidebar{
  height:350px;
  background:rgba(21, 191, 243,.6);
  overflow-y: auto;
  border-radius: 10px;
}

  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 20px;
    width: 70%;
    box-shadow: 1px 1px 5px #8a8a8a;
  }

  .sidebar a {
    font-size: 1.3rem;
  }

  .close-sidebar {
    border: none;
    background-color: transparent; 
    align-self: flex-end;
    cursor: pointer;
    color: #3A91FF;
    font-size: 1.3rem;
  }

  .sidebar.scrolling {
    top: 0;
    z-index: 100;
  }
}