.gradient-btn {
  border: none;
  outline: none;
}
.gradient-btn.pink-btn {
  background: linear-gradient(to right, @pink, @gradientPink);
  box-shadow: 0px 10px 15px @pink;

  &:hover {
    background: linear-gradient(to right, @gradientPink, @pink);
    box-shadow: 0px 8px 15px @gradientPink;
  }
}
.gradient-btn.blue-btn {
  background: linear-gradient(to right, @blue, @gradientBlue);
  box-shadow: 0px 10px 15px @blue;
  &:hover {
    box-shadow: 0px 8px 15px @gradientBlue;
    background: linear-gradient(to right, @gradientBlue, @blue);
  }
}
.gradient-btn.red-btn {
  background: linear-gradient(to right, @red, @gradientRed);
  box-shadow: 0px 10px 15px @red;
  &:hover {
    box-shadow: 0px 8px 15px @gradientRed;
    background: linear-gradient(to right, @gradientRed, @red);
  }
}
.gradient-btn.green-btn {
  background: linear-gradient(to right, @green, @gradientGreen);
  box-shadow: 0px 10px 15px @green;
  &:hover {
    box-shadow: 0px 8px 15px @gradientGreen;
    background: linear-gradient(to right, @gradientGreen, @green);
  }
}
.gradient-btn.yellow-btn {
  background: linear-gradient(to right, @yellow, @gradientYellow);
  box-shadow: 0px 10px 15px @boxShadowYellow;
  &:hover {
    box-shadow: 0px 8px 15px @gradientYellow;
    background: linear-gradient(to right, @gradientYellow, @yellow);
  }
}
.gradient-btn.orange-btn {
  background: linear-gradient(to right, @orange, @gradientOrange);
  box-shadow: 0px 10px 15px @orange;
  &:hover {
    box-shadow: 0px 8px 15px @gradientOrange;
    background: linear-gradient(to right, @gradientOrange, @orange);
  }
}
.gradient-btn.purple-btn {
  background: linear-gradient(to right, @purple, @gradientPurple);
  box-shadow: 0px 10px 15px @purple;
  &:hover {
    box-shadow: 0px 8px 15px @gradientPurple;
    background: linear-gradient(to right, @gradientPurple, @purple);
  }
}
.gradient-btn.black-btn {
  background: linear-gradient(to right, @diffblack, @black);
  box-shadow: 0px 10px 15px @diffblack;
  &:hover {
    box-shadow: 0px 8px 15px @black;
    background: linear-gradient(to right, @black, @diffblack);
  }
}
.gradient-btn.white-btn {
  background: linear-gradient(to right, @diffwhite, @gradientwhite);
  box-shadow: 0px 10px 15px @boxShadowWhite;
  &:hover {
    box-shadow: 0px 8px 15px @gradientwhite;
    background: linear-gradient(to right, @gradientwhite, @diffwhite);
  }
}
