.gradient-btn {
  border: none;
  outline: none;
}
.gradient-btn.pink-btn {
  background: linear-gradient(@pink, @gradientPink);
  box-shadow: 0px 10px 15px @pink;
  &:hover {
    background: linear-gradient(@gradientPink, @pink);
    box-shadow: 0px 8px 15px @gradientPink;
  }
}
.gradient-btn.blue-btn {
  background: linear-gradient(@blue, @gradientBlue);
  box-shadow: 0px 10px 15px @blue;
  &:hover {
    box-shadow: 0px 8px 15px @gradientBlue;
    background: linear-gradient(@gradientBlue, @blue);
  }
}
.gradient-btn.red-btn {
  background: linear-gradient(@red, @gradientRed);
  box-shadow: 0px 10px 15px @red;
  &:hover {
    box-shadow: 0px 8px 15px @gradientRed;
    background: linear-gradient(@gradientRed, @red);
  }
}
.gradient-btn.green-btn {
  background: linear-gradient(@green, @gradientGreen);
  box-shadow: 0px 10px 15px @green;
  &:hover {
    box-shadow: 0px 8px 15px @gradientGreen;
    background: linear-gradient(@gradientGreen, @green);
  }
}
.gradient-btn.yellow-btn {
  background: linear-gradient(@yellow, @gradientYellow);
  box-shadow: 0px 10px 15px @boxShadowYellow;
  &:hover {
    box-shadow: 0px 8px 15px @gradientYellow;
    background: linear-gradient(@gradientYellow, @yellow);
  }
}
.gradient-btn.orange-btn {
  background: linear-gradient(@orange, @gradientOrange);
  box-shadow: 0px 10px 15px @orange;
  &:hover {
    box-shadow: 0px 8px 15px @gradientOrange;
    background: linear-gradient(@gradientOrange, @orange);
  }
}
.gradient-btn.purple-btn {
  background: linear-gradient(@purple, @gradientPurple);
  box-shadow: 0px 10px 15px @purple;
  &:hover {
    box-shadow: 0px 8px 15px @gradientPurple;
    background: linear-gradient(@gradientPurple, @purple);
  }
}
.gradient-btn.black-btn {
  background: linear-gradient(@diffblack, @black);
  box-shadow: 0px 10px 15px @diffblack;
  &:hover {
    box-shadow: 0px 8px 15px @black;
    background: linear-gradient(@black, @diffblack);
  }
}
.gradient-btn.white-btn {
  background: linear-gradient(@diffwhite, @gradientwhite);
  box-shadow: 0px 10px 15px @boxShadowWhite;
  &:hover {
    box-shadow: 0px 8px 15px @gradientwhite;
    background: linear-gradient(@gradientwhite, @diffwhite);
  }
}
