.gradient-color-btn {
  border-radius: 60px;
  font-size: 20px;
  padding: 0.5em 1em;
  font-family: sans-serif;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.gradient-1 {
  background: linear-gradient(
    90deg,
    rgb(255, 96, 76) 0%,
    rgb(255, 67, 160) 100%
  );
  box-shadow: 0px 4px 40px rgb(255 119 159);
  &:hover {
    box-shadow: none;
  }
}

.gradient-2 {
  background: linear-gradient(90deg, #0082e1 0%, #00dadc 100%);
  box-shadow: 0px 4px 40px rgb(0, 212, 215);
  &:hover {
    box-shadow: none;
  }
}

.gradient-3 {
  background: linear-gradient(to right, #00d4d7, #00f93c);
  box-shadow: 0px 4px 40px rgb(0, 249, 60);
  &:hover {
    box-shadow: none;
  }
}
