.rounded-diagonal-btn {
  background: #7c26c2;
  font: bold 24px "Syne";

  &.rounded-btn.rd-tl-btn {
    border-radius: 34px 14px;
  }
  &.rounded-btn.rd-tr-btn {
    border-radius: 14px 34px;
  }
}

.rd-tl-btn {
  border-radius: 24px 4px;
}

.rd-tr-btn {
  border-radius: 4px 24px;
}
