.spooky{
  position: relative;
  display: inline block;
  background-color: #000;
  width: 60px;
  height: 99px;
  transform: rotateX(15deg);
  border-radius: 50px 50px 0px 0px;
}
.spooky::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: white;
    top: 25px;
    left: 10px;
    box-shadow: 25px 0px 0 0px #fff;
}
.spooky::after{
    content: "";
    position: absolute;
    height: 12px;
    width: 30px;
    border-radius: 0 0 90px 90px;
    top: 50px;
    left: 14px;
    background: white;
}
.spooky:hover::before{
    border-radius: 0px 0px 90px 90px;
    box-shadow: 25px 0px 0 0px red;
    animation-name: changeColor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes changeColor{
    0%{
        background-color: red;
        box-shadow: 25px 0px 0 0px red;
    }
    25%{
        background-color: yellow;
        box-shadow: 25px 0px 0 0px yellow;
    }
    50%{
        background-color: blue;
        box-shadow: 25px 0px 0 0px blue;
    }
    75%{
        background-color: green;
        box-shadow: 25px 0px 0 0px green;
    }
}
.spooky:hover::after{
    top: 43px;
    height: 20px;
    border-radius: 90px 90px 90px 90px;
}
.spooky:hover{
    animation-name: bouncy;
    animation-duration:0.8s;
    animation-iteration-count: infinite;
}
@keyframes bouncy {
    0% {
        transform: translate3d(0, 30, 0);
    }
    25% {
     
      transform: translate3d(0, -60px, 0);
    }
    50% {
      
      transform: translate3d(0, -30px, 0);
    }
    75% {
      
      transform: translate3d(0, 0px, 0);
    }
  }