input[type="radio"].toggle-btn,
input[type="checkbox"].toggle-btn {
  padding: 10px !important;
}

.toggle-btn {
  width: @toggleWidth;
  height: @toggleHeight;
  border-radius: @toggleBorderRadius;
  border: 0;
  transition: all 0.5s ease;
  outline: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  &:before,
  &:after {
    content: "";
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  }
  &:before {
    background-color: @toggleSwitchColor;
    border-radius: 50%;
    display: inline-block;
    height: calc(@toggleWidth / 2.25);
    width: calc(@toggleWidth / 2.25);
    transition: all 0.5s ease;
    transform: @toggleSwitchOffPosition;
  }
  &:after {
    background-color: @toggleOffBgColor;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: background-color 0.5s ease;
    transition-delay: 0.2s;
    left: 0;
    top: 0;
    z-index: -1;
  }
  &:checked:before {
    transform: @toggleSwitchOnPosition;
  }
  &:checked:after {
    background-color: @toggleOnBgColor;
  }
}

.toggle-on-btn {
  &:before {
    transform: @toggleSwitchOnPosition;
  }
  &:after {
    background-color: @toggleOnBgColor;
  }
  &:active:before {
    transform: @toggleSwitchOffPosition;
  }
  &:active:after {
    background-color: @toggleOffBgColor;
  }
}

.toggle-off-btn {
  &:before {
    transform: @toggleSwitchOffPosition;
  }
  &:after {
    background-color: @toggleOffBgColor;
  }
  &:active:before {
    transform: @toggleSwitchOnPosition;
  }
  &:active:after {
    background-color: @toggleOnBgColor;
  }
}
