.toggle-on-btn {
  width: 90px;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(48, 209, 88);
  border: 0;
  border-color: #4ed164;
  padding: 5px;
}
.toggle-off-btn {
  width: 90px;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(229, 229, 234);
  border: 1px solid #d9dadc;
  padding: 5px;
}
.toggle-on-btn::after {
  content: "";
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  float: right;
}
.toggle-off-btn::before {
  content: "";
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  float: left;
}
