@cola: #2b1800;
@blue: #50bfe6;
@darkBlue: #1fa5d6;
@pink: #d53caf;
@darkPink: #c10c94;
@blueComplementary: #ff8301;
@darkerBlue: #3193b5;
@lighterBlue: #19c3ff;
@red: #ed0a3f;
@darkRed: #cf0837;
@green: #3aa655;
@darkGreen: #328f4a;
@yellow: #fbe870;
@darkYellow: #f7da22;
@orange: #ff8833;
@darkOrange: #f06400;
@purple: #652dc1;
@darkPurple: #4c2291;
@darkText: #333;
@lightText: #fff;
@buttonPadding: 10px;
@lightGray: #ccc;
@black: #000;
@blackShadow: #7d7d7d;
@lightBlack: #262626;
@white: #fff;
@darkWhite: #ebebeb;
@whiteBorder: #e9e9e9;
@neonGreen: #39ff14;
@neonBlue: #1fffec;
@neonOrange: #ff9b18;
@neonPink: #ff2aca;
@neonRed: #ff013c;
@neonYellow: #ffe53d;
@neonPurple: #8d47ff;
@neonBlack: #414141;
@neonWhite: #e2e2e2;
@buttonFontSize: 1.5rem;
@keyHoverPink: rgb(179, 74, 152);
@keyHoverBlue: rgb(48, 161, 202);
@keyHoverGreen: #258d3f;
@keyHoverPurple: #521ca8;
@keyHoverBlack: #474545;
@keyHoverYellow: #f0d14a;
@keyHoverOrange: #e7792a;
@keyHoverRed: #bd1139;
@keyHoverWhite: #e4e0e0;
@keyBoxPink: rgb(124, 31, 101);
@keyBoxBlue: #387d96;
@keyBoxGreen: #1d5c2d;
@keyBoxPurple: #341368;
@keyBoxBlack: #2c2828;
@keyBoxYellow: #dbb81d;
@keyBoxOrange: #a75215;
@keyBoxRed: #80122b;
@keyBoxWhite: #bdb6b6;
@diffblack: #686363;
@diffwhite: #fdf4f4;
