name: Format (prettier)

on:
    push:
        branches:
            - 'master'

jobs:
    prettier:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2
          with:
            ref: ${{ github.head_ref }}
        - uses: actions/setup-node@v1
          with:
            node-version: "12.x"
            - name: Install
              run: npm install
              env:
                  CI: true

            - name: Run prettier
              run: npm run prettier

            - uses: stefanzweifel/git-auto-commit-action@v4
              with:
                  commit_message: Apply prettier changes
